include mantis_ml/data/*
include mantis_ml/data/exSNP/*
include mantis_ml/data/gwas_catalog/*
include mantis_ml/data/gnomad/*
include mantis_ml/data/goa/*
include mantis_ml/data/mgi/HMD_HumanPhenotype.rpt
include mantis_ml/data/mgi/VOC_MammalianPhenotype.rpt
include mantis_ml/data/mgi/MGI_LethalityPhenotypes.txt
include mantis_ml/data/mgi/hmd_human_pheno.processed.rpt
include mantis_ml/data/mgi/process_mgi_files.py
include mantis_ml/data/mgi/mgi_essential_genes.tsv
include mantis_ml/data/ensembl/*
include mantis_ml/data/platelets_eqtl/README.md
include mantis_ml/data/platelets_eqtl/process_platelets_eqtl.py
include mantis_ml/data/platelets_eqtl/platelets_eQTL.csv
include mantis_ml/data/in_web/*
include mantis_ml/data/rvis_plosgen_2013/*
include mantis_ml/data/neph_qtl/*
include mantis_ml/data/omim/*
include mantis_ml/data/ckddb/*
include mantis_ml/data/adipose_eqtl/*
include mantis_ml/data/HPO/*
include mantis_ml/data/genic-intolerance/*
include mantis_ml/data/human_protein_atlas/*
include mantis_ml/data/exac-broadinstitute/*
include mantis_ml/data/exac-broadinstitute/cnv/*
include mantis_ml/data/essential_genes_for_mouse/*
include mantis_ml/data/msigdb/tables_per_gene_set/*
include mantis_ml/data/gtex/RNASeq/*
include mantis_ml/modules/supervised_learn/feature_selection/boruta_feature_selection.R
include mantis_ml/conf/.config
include mantis_ml/conf/CKD_config.yaml
include mantis_ml/conf/ALS_config.yaml
include mantis_ml/conf/Epilepsy_config.yaml
include README.md
include ABOUT.md
include VERSION
include LICENSE
